@use '../variables/Main' as *;
@use '../helpers/Mixins' as *;

#profile-section {
    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
    }
    @include sectionStart;
    .container > .title {
        @include title;
        text-align: center;
        span {
            color: $secondary-color;
        }
    }

    .profile-photo {
        .title {
            color: gray;
            text-transform: capitalize;
        }
        .square {
            height: 250px;
            width: 250px;
            margin: auto;
            vertical-align: middle;
            border: 1px solid #e5dfe4;
            background-color: #fff;
            border-radius: 5px;
            .profileImage {
                width: 100%;
                height: 100%;
            }
            i {
                transform: translate(-50%, -50%) !important;
                left: 50% !important;
                top: 50% !important;
                opacity: .4;
                font-size: 40px;
            }
        }
        #uploadImage + label {
            color: #28a745;
            background-color: rgba(40, 167, 69, 0.1);
            transition: 0.3s;
            text-transform: uppercase;
            &:hover {
                color: black;
            }
        }
        #deleteImage + label {
            color: #dc3545;
            background-color: rgba(220, 53, 69, 0.1);
            transition: 0.3s;
            text-transform: uppercase;
            &:hover {
                color: black;
            }
        }
    }

    .profile-cv {
        .title {
            color: gray;
            text-transform: capitalize;
        }
        .square {
            height: 250px;
            width: 250px;
            margin: auto;
            vertical-align: middle;
            border: 1px solid #e5dfe4;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
                font-size: 40px;
                opacity: .4;
                margin-top: 125px;
                transform: translateY(-50%);
            }
            a {
                color: white;
            }
        }
        #uploadPdf+label {
            color: #28a745;
            background-color: rgba(40, 167, 69, 0.1);
            transition: 0.3s;
            text-transform: uppercase;
            &:hover {
                color: black;
            }
        }

        #deletePdf+label {
            color: #dc3545;
            background-color: rgba(220, 53, 69, 0.1);
            transition: 0.3s;
            text-transform: uppercase;
            &:hover {
                color: black;
            }
        }
    }

    .account-details {
        .title {
            color: gray;
            text-transform: capitalize;
        }
        label {
            color: gray;
            opacity: .8;
            text-transform: capitalize;
            span {
                color: $secondary-color;
            }
        }
    }
}