@use '../variables/Main' as *;
@use '../helpers/Mixins' as *;
#verify-section {
    @include sectionStart;
    .image-container {
        margin: 0 auto;
        width: 200px;
        height: auto;
    }
    .title {
        @include title;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .paragraph {
        letter-spacing: 1px;
        font-family: sans-serif;
    }
    button {
        width: 50%;
        outline: none;
        border: none;
        background-color: $main-color;
        color: white;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        text-transform: capitalize;
        transition: background-color 0.3s;
    
        &:hover {
            background-color: #050376;
        }
    
        @media screen and (max-width: 750px) {
            width: 100%;
        }
    }
}