@use '../../variables/Main' as *;
@use '../../helpers/Mixins' as *;
#admin-login {
    min-height: 100vh;
    background-color: $section-background;
    .border-radius {
        border-radius: 8px;
    }
    .shadow {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
    button {
        padding: 8px 14px;
    }
    .title {
        @include title;
        span {
            color: $secondary-color;
        }
    }
}