@use '../../variables/Main' as *;
#view-profile {
    padding: $section-padding 0;
    background-color: $section-background;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    }
    .image-container {
            position: relative;
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
            }
    }
}